.search-form {
    margin-top: 47px;
    padding: 25px;
    box-shadow: 0px 0px 20px 0px #00000026;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    margin-bottom: 64px;
}

.search-form_left__text {
    font-size: 18px;
}

.search-form_left__area {
    width: 242px;
    border-radius: 5px;
    border: 1px solid #C7C7C7;
    padding: 10px 5px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 14px;
}


.search-form_left__area::placeholder,
.search-form_left__select {
    text-align: center;
    font-size: 14px;
}

.search-form_left__select {
    width: 252px;
    border-radius: 5px;
    border: 1px solid #C7C7C7;
    padding: 10px 5px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-image: url('./img/arrow.svg');
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center;
    cursor: pointer;
}

/* Скрыть стандартную стрелку селекта */
.search-form_left__select {
    -webkit-appearance: none;
    /* Для Chrome и Safari */
    -moz-appearance: none;
    /* Для Firefox */
    appearance: none;
}

.search-form_left__date {
    width: 39%;
    max-width: 176px;
    margin-right: 20px;
    background-image: none;
}

.search-form_left__date:required:invalid::-webkit-datetime-edit {
    color: #949494;
}

.search-form_left__date::-webkit-calendar-picker-indicator {
    background-image: url('./img/arrow.svg');
    background-position: right;
    background-size: inherit;
    width: 18px;
}

.search_right__text {
    font-size: 18px;
    margin-top: 15px;
}

.search_right__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.search_right__checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.search_right__checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid black;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.search_right__checkbox:checked+label::before {
    background-image: url("./img/agree.png");
    background-size: 100% 100%;
}

.search_right__btn {
    width: 305px;
    margin-top: 92px;
    margin-left: 112px;
}

.search_right__description {
    color: #949494;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 112px;
}

@media screen and (max-width: 1330px) {
    .search-form {
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 920px) {
    .search-form {
        margin-bottom: 0px;
    }

    .search_right_submit {
        display: none;
    }

    .search-form {
        flex-direction: column;
    }

    .search-form_left__area {
        width: 100%;
        box-sizing: border-box;
    }

    .search-form_left__select {
        width: 100%;
        background-position-x: 99%;
    }

    .search-form_left__date {
        max-width: 100%;
        margin-bottom: 20px;
    box-sizing: border-box;
    }

    .search_right__btn {
        width: 100%;
        margin-top: 20px;
        margin-left: 0;
    }
    
    .search_right__description {
        color: #949494;
        font-size: 14px;
        margin-top: 10px;
        margin-left: 0;
        margin-bottom: 37px;
    }
    
}