* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
}

:root {
    --primary-aqua: #029491;
    --primary-black: #000000;
    --primary-white: #FFFFFF;
    --secondary-yellow: #FFB64F;
    --secondary-aqua: #7CE3E1;
    --secondary-blue: #5970FF;
}
